* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
canvas {
  position: fixed;
  display: inline;

}
body{
  margin:0px;
  padding:0px;
  background-color: #a9e0c4;
    
}
/* --------------------------------------------------profile */
#profile-container {
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 100vh;
    /*border: 2px solid cyan;*/
    display:none;
}
#avatar-section{
    display: flex;
    flex-direction: column;
    /*border: 2px solid red; */
    height: 50vh;
    align-items: center;
    justify-content: space-evenly;
}
.avatar-row{
    width: 100%;
    display: flex;
    /*border: 2px solid green;*/ 
    align-items: center;
    justify-content: space-evenly;
}
.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /*border: 2px solid yellowgreen;*/ 
    background-size: cover;
    cursor: pointer;
}
#selected-avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
}
#selected-avatar{ background-image:url('../assets/avatar/avatar_none.png');}
#avatar_0{ background-image:url('../assets/avatar/avatar_0.png');}
#avatar_1{ background-image:url('../assets/avatar/avatar_1.png');}
#avatar_2{ background-image:url('../assets/avatar/avatar_2.png');}
#avatar_3{ background-image:url('../assets/avatar/avatar_3.png');}
#avatar_4{ background-image:url('../assets/avatar/avatar_4.png');}
#avatar_5{ background-image:url('../assets/avatar/avatar_5.png');}

/* --------------------------------------------------profile */

#controls {
  width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    display:none;
}
label, select, button {
    font-size: 18px;
    margin: 5px;
}

#turn{
  width:100%;
  height:100%;
  position:fixed;
  top:0px;
  left:0px;
  background-color:white;
  background-image:url('assets/portrait.png');
  background-repeat:no-repeat;
  background-position: center center;
  z-index:2;
  display:none;
}
#loader 
{
    position:fixed;
    left: 47.5%;
    top: 47.5%;
    z-index: 1;
    
    background-position: center center;
    /*width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;*/


    border: 5px solid #2884f5;
    border-radius: 50%;
    border-top: 5px solid #0000ff;
    border-bottom: 5px solid #2884f5;
    width: 32px;
    height: 32px;

    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

/* ------------88888888------------  */ 

body {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 16px;
  caret-color: auto; /*transparent;*/
}

/* Main menu -----------------------------------------------*/
.page{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: steelblue;
}

.logo{
    width: 128px;
    height: 128px;
    border-radius: 20px;
    background-color: seagreen;
    background-image: url('../assets/logo.png');
    background-size: cover;
}
.splash{
    width: 100%;
    height: 100vh;
    background-color: seagreen;
    background-image: url('../assets/splash.png');
    background-size: cover;
    display: none;
}
.main-menu{
    width: 100%;
    height: 100vh;
    /*position: fixed;
    
    left: 50%;
    transform: translateX(-50%);*/
    display: flex;
    flex-direction: column;
    /*border: 2px solid blueviolet;*/
    justify-content: flex-start;
    padding: 20px;
    gap: 20px;
    align-items: center;
    background-color: lightcyan;
    display: none;
}
.info{
    width: 100%;
    height: 100vh;
    /*position: fixed;
    
    left: 50%;
    transform: translateX(-50%);*/
    display: flex;
    flex-direction: column;
    /*border: 2px solid blueviolet;*/
    justify-content: flex-start;
    padding: 20px;
    gap: 20px;
    align-items: center;
    background-color: lightcyan;
    display: none;
}
.title{
    font-size: 2rem;
    font-weight: bold;
}
.sub-title{
    height: 100px;
    border: 2p solid lightgray;
    align-content: center;
}
.text-content{
    width: 80%;
    height: 100px;
    border: 2p solid lightgray;
    align-content: center;
}
.space{
    height: 100px;
}
.button-style{
    width: 60%;
    height: 40px;
    color: black;
    background-color: lightcoral;
}
/*----------------------------------------------- Main menu */
#main {
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  display: none;
  /*background-color: #a9e0c4;*/
  background-image: url("../assets/commonbg.png");
}

#menu-point{
    padding: 10px;
}
#config-point{
    padding: 10px;
}
section {
  text-align: center;
  padding: 30px;
  /*background: #e5eaf5c0;*/
}

.hidden {
  display: none;
}

#message-popup{
    display: flex;
    width: 80%;
    position: fixed;
    border: 2px solid red;
    background-color: cyan;
    color: black;
    top: 100px;
    left: 50%;   /* Move to center */
    transform: translateX(-50%); /* Adjust to center */
    align-items: center;
    justify-content: center;
    display: none;
}
/*this is game board matrix ############################################ */
#field {
  padding: 10px;
  min-width: 10vh;
  /*border: 2px solid red;*/
}
#countdown{
    position: fixed;
    top: 140px;
    left: 165px;
    font-size: 5em;
    font-weight: bold;
    color: #232d55;
    display: none;
    text-align: center;
}
#container {
  margin: auto;
  display: flex;
  flex-direction: column;
 /* border: 2px solid red;*/
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
}
.cell {
  font-family: "Finger Paint", sans-serif;
  color: #232d55;
  box-shadow: 0 0 0 1px #6e92a3;
  border: 1px solid #6e92a3;
  cursor: pointer;
  line-height: 1em;
  background: #d2ebc0;
}

/*##################################################################*/
.sidebar {
  width: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar > * {

}
#status  {
/*    flex: 4;*/
    position: fixed;
    width: 100%;
    height: 50%;
    top: 0px;
    left: 0px;
    font-size: 2.5em;
    font-weight: bold;
    color: #232d55;
    background-color: rgba(143, 143, 143, 0.9);
  /*  background: #8f8f8f;*/
    text-align: center;  /* Centers text horizontally */
    display: flex;        /* Enables flexbox */
    align-items: center;  /* Centers text vertically */
    justify-content: center; /* Ensures horizontal centering */
    padding: 5px;
    display: none;
   /* border: 2px solid white;*/
}

#hud{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}
.button_box {
  width: 100%;
  box-sizing: border-box;
  background: #8f8f8f;
  border-radius: 4px;
  padding: 10px 0;
  margin: 0 0 10px 0;
  border: none;
  justify-content: center;
}
button:hover {
  background-color: #e0d9a9;
}

#game-play-bottom{
  display: none;
}
#titleTurns {
  font-size: .8em;
}
#numberTurns {
  font-size: 1.1em;
  margin: 0;
  display: none;
}
#soundonoff {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid red;
    background-size: cover;
    display: none;
}
/* ------------88888888------------  */  

/* ------------HHHHHHHHHHHHHHHHHH------------  */     
.input-group {
    display: flex;
    align-items: left;
    margin-bottom: 10px; /* Adds spacing between rows */
}      
.input-group label {
    /*width: 200px;  Adjust width as needed */
    font-weight: bold;
}
.input-group input {
  width: 200px;
    flex: 1;
    padding: 5px;
    font-size: 16px;
}
.turns {
    display: flex;
    align-items: left;
}
.avatar-on-game{
    display: flex;
    align-items: left;
    justify-content: space-between;
}
.playerAvatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    background-size: cover;
}
.player-section{
    display: flex;
    align-items: left;
    justify-content: space-between;
} 
#player1Avatar{
    background-image: url('../assets/avatar/avatar_none.png');
}
#player2Avatar{
    background-image: url('../assets/avatar/avatar_none.png');
}


.timer-section{
    display: flex;
    align-items: left;
    justify-content: space-between;
} 
/* ------------HHHHHHHHHHHHHHHHHHHH------------  */     

/*----------- @@@@@@@ -------------  */

/* Default styles (Mobile First) */


/* Tablets (Portrait & Landscape) */
@media (min-width: 600px) {
    #main {
        width: 70%;
        max-width: 600px;
    }
}

/* Small Laptops & Large Tablets */
@media (min-width: 1024px) {
    #main {
        width: 30%;
        max-width: 800px;
    }
    .page{
        width: 30%;
    }
}

/* Desktops & Large Screens */
@media (min-width: 1440px) {
    #main {
        width: 30%;
        max-width: 1000px;
    }
    .page{
        width: 30%;
    }
}

/*----------- @@@@@@@ -------------  */